<div class="header">
    <a class="logo" href="<%= users_path %>">
        <img src="/assets/logo.png" alt="NTQ Solution - Admin Control Panel" title="NTQ Solution - Admin Control Panel"/>
    </a>
</div>